body{
    text-align: center;
    background-color: aqua;
}
div {
    margin-top: 15px;
}
.imgsec {
    display: flex;
    justify-content: center;
}
.imagesec {
    margin-right: 25px;
    margin-left: 25px;
    background-color: white;
}
.img-section {
    width: 450px;
    height: 250px;
}